@charset "UTF-8";

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?a8ype9");
  src: url("../fonts/icons.eot?a8ype9#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?a8ype9") format("truetype"), url("../fonts/icons.woff?a8ype9") format("woff"), url("../fonts/icons.svg?a8ype9#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Rubik";
  src: local("../fonts/Rubik-Regular"), local("../fonts/Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("../fonts/Rubik-Medium"), local("../fonts/Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: local("../fonts/Rubik-Bold"), local("../fonts/Rubik-Bold"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-android:before {
  content: "\e900";
}

._icon-apple:before {
  content: "\e901";
}

._icon-calendar:before {
  content: "\e902";
}

._icon-check:before {
  content: "\e903";
}

._icon-cross:before {
  content: "\e904";
}

._icon-dislike:before {
  content: "\e907";
}

._icon-fire:before {
  content: "\e908";
}

._icon-gift:before {
  content: "\e909";
}

._icon-like:before {
  content: "\e90a";
}

._icon-location:before {
  content: "\e90b";
}

._icon-phone:before {
  content: "\e91a";
}

._icon-rocket:before {
  content: "\e91b";
}

._icon-server:before {
  content: "\e91c";
}

._icon-shield:before {
  content: "\e91d";
}

._icon-star:before {
  content: "\e91e";
}

._icon-windows:before {
  content: "\e923";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Rubik";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Rubik";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #72768d;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1320px;
  margin: 0 auto;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

svg {
  max-width: 25px;
  max-height: 20px;
}

.article {
  margin-bottom: 15px;
}

.article:first-child {
  margin-top: 22px;
}

.block {
  background: #f7f8fd;
  border-radius: 15px;
  position: relative;
}

.block.active {
  border-radius: 15px 15px 0 0;
}

.block--violet:before {
  content: "BEST BONUS";
  position: absolute;
  top: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 221px;
  height: 42px;
  background: url(../img/bg1.png) center/contain no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
}

.block--orange:before {
  content: "BEST BONUS";
  position: absolute;
  top: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 221px;
  height: 42px;
  background: url(../img/bg2.png) center/contain no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;
}

.block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px 15px 25px 15px;
}

.block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 21px;
}

.block__title h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 137%;
  margin-left: 50px;
  position: relative;
}

.block__title h2:before {
  line-height: 21px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc736), to(#ff630c));
  background: -o-linear-gradient(top, #ffc736 0%, #ff630c 100%);
  background: linear-gradient(180deg, #ffc736 0%, #ff630c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2px;
  font-size: 23px;
  position: absolute;
  left: -34px;
}

.block__nmbr {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc736), to(#ff630c));
  background: -o-linear-gradient(top, #ffc736 0%, #ff630c 100%);
  background: linear-gradient(180deg, #ffc736 0%, #ff630c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block__table {
  border-top: 2px solid rgba(235, 236, 245, 0.6);
  width: 100%;
  padding: 5px 15px 15px 15px;
}

.block__welcome {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  margin: 8px 0 0 37px;
}

.block__welcome:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ff630c)), #0079f0;
  background: -o-linear-gradient(top, #ff9900 0%, #ff630c 100%), #0079f0;
  background: linear-gradient(180deg, #ff9900 0%, #ff630c 100%), #0079f0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: -20px;
  top: 1px;
}

.block__caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #313446;
  margin: 10px 0 0 15px;
}

.block__image {
  width: 148px;
}

.block__image--m {
  display: none;
}

.block__image img {
  width: 100%;
  margin-top: 6px;
}

.block__bonus {
  width: 248px;
}

.block__list {
  display: inline-block;
  margin-left: 26px;
  padding-top: 21px;
}

.block__pay {
  padding: 10px 0 20px;
}

.block__pay--inner {
  width: 272px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -7px;
}

.block__buttons {
  margin-left: auto;
}

.block__item {
  font-size: 14px;
  line-height: 17px;
  margin: 0px 0px 15px 33px;
  position: relative;
  white-space: nowrap;
}

.block__item:before {
  position: absolute;
  color: #0079f0;
  font-size: 17px;
  left: -27px;
}

.block__text {
  width: 284px;
  margin: 9px 0 0 15px;
  font-size: 14px;
  line-height: 143%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

.rating__nmbr {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #313446;
  margin-right: 10px;
}

.rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__star {
  color: #ff922e;
  font-size: 20px;
}

.button {
  width: 180px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  margin-left: auto;
  margin-bottom: 15px;
}

.button--green {
  background: #53af1b;
  color: #ffffff;
}

.button--gray {
  background: rgba(235, 236, 245, 0.49);
  color: #6f728c;
}

.js-more-info {
  font-size: 13px;
  line-height: 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.js-more-info:before {
  content: url(../img/icons/down.png);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 110%;
}

.js-more-info.active:before {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.js-more-info__wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 22px;
}

.js-more-info__wrapper:before {
  content: "";
  position: absolute;
  width: 86px;
  height: 2px;
  background: #a6aac3;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.js-more-info__wrapper:after {
  content: "";
  position: absolute;
  width: 86px;
  height: 2px;
  background: #a6aac3;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.more-info {
  background: #f1f3fd;
  border-radius: 0px 0px 15px 15px;
  padding: 15px;
  display: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.more-info.active {
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.more-info__text {
  font-size: 14px;
  line-height: 179%;
}

.more-info__item {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.more-info__item--like:before {
  position: absolute;
  color: #53af1b;
  font-size: 19px;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.more-info__item--dis:before {
  position: absolute;
  color: #ff4c34;
  font-size: 19px;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.more-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-info__column--1 {
  width: 446px;
}

.more-info__column--2,
.more-info__column--3 {
  width: 404px;
  border: 2px solid #ebecf5;
  border-radius: 15px;
  margin-left: 20px;
  padding: 15px;
}

.pay-icon {
  width: 53px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(235, 236, 245, 0.65);
  border-radius: 5px;
  margin: 0 1px 18px;
}

.top-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoblock {
  background: -o-linear-gradient(301.64deg, #313446 19.06%, #070b1f 97.93%), #f7f8fd;
  background: linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%), #f7f8fd;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 991px;
}

.infoblock__img {
  width: 217px;
  height: 119px;
  background: -o-linear-gradient(287.03deg, #313446 -13.44%, #070b1f 150.61%);
  background: linear-gradient(162.97deg, #313446 -13.44%, #070b1f 150.61%);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoblock__column--l {
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
}

.infoblock__column--r {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  background: url(../img/small-bg.png) no-repeat, -o-linear-gradient(301.64deg, #313446 19.06%, #070b1f 97.93%), #f7f8fd;
  background: url(../img/small-bg.png) no-repeat, linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%), #f7f8fd;
  border-radius: 15px;
  padding: 105px 20px 20px 20px;
}

.infoblock__row--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.infoblock__row--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 23px;
}

.infoblock__row--center li {
  width: 50%;
  position: relative;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 27px;
  margin-bottom: 15px;
}

.infoblock__row--center li:before {
  color: #0079f0;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
}

.infoblock__row--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.infoblock__row--bottom .pay-icon {
  margin: 0;
  background: rgba(49, 54, 74, 0.55);
  border-radius: 5px;
  width: 69px;
  height: 44px;
}

.infoblock__row--bottom .pay-icon svg {
  max-width: 35px;
  max-height: 27px;
}

.infoblock__wrapper {
  margin-left: 20px;
}

.infoblock__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.infoblock__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ff922e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 15px;
}

.infoblock__stars p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-right: 6.42px;
}

.infoblock__tags {
  font-size: 14px;
  line-height: 17px;
}

.infoblock__welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#ff630c));
  background: -o-linear-gradient(top, #ff9900 0%, #ff630c 100%);
  background: linear-gradient(180deg, #ff9900 0%, #ff630c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.infoblock__welcome:before {
  margin-right: 5px;
}

.infoblock__bonus {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 10px 0;
}

.infoblock__text {
  font-size: 12px;
  line-height: 20px;
}

.infoblock__button {
  width: 100%;
  height: 51px;
  margin-top: 25px;
  margin-bottom: 0;
}

.technologies {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.technologies--wind,
.technologies--apple,
.technologies--android {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
}

.cross {
  font-size: 20px;
  color: #ff4c34;
  margin-left: 10px;
}

.check {
  font-size: 20px;
  color: #53af1b;
  margin-left: 10px;
}

.aside {
  width: 314px;
  background: #f7f8fd;
  border-radius: 15px;
  padding: 20px;
}

.aside__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #313446;
  margin-bottom: 5px;
  position: relative;
  padding-left: 22px;
}

.aside__title:before {
  color: #0079f0;
  position: absolute;
  font-size: 17px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.aside__txt {
  font-size: 14px;
  line-height: 17px;
  color: #72768d;
  padding-left: 22px;
  margin-bottom: 20px;
}

.bottom-article {
  width: 991px;
  margin-top: 15px;
  background: #f7f8fd;
  border-radius: 15px;
  padding: 16px 20px 20px 20px;
}

.bottom-article__text {
  font-size: 16px;
  line-height: 25px;
  color: #7a7e9b;
  margin-top: 10px;
}

.photo {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: -o-linear-gradient(301.64deg, #313446 19.06%, #070b1f 97.93%), #c4c4c4;
  background: linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%), #c4c4c4;
}

.photo__wrapper {
  display: inline-block;
  margin-left: 10px;
}

.photo__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #313446;
}

.photo__subtitle {
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1320px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 450px) {
  .article {
    margin-bottom: 10px;
  }

  .article:first-child {
    margin-top: 20px;
  }

  .block {
    border-radius: 10px;
    padding-bottom: 15px;
  }

  .block--violet:before {
    width: 181px;
    height: 34px;
    font-size: 12px;
    line-height: 14px;
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%);
  }

  .block--orange:before {
    width: 181px;
    height: 34px;
    font-size: 12px;
    line-height: 14px;
    -webkit-transform: translateX(-20%);
        -ms-transform: translateX(-20%);
            transform: translateX(-20%);
  }

  .block__header {
    padding: 15px 10px;
  }

  .block__title h2 {
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
    padding-left: 27px;
  }

  .block__title h2:before {
    font-size: 18px;
    left: 0;
    top: -5px;
  }

  .block__nmbr {
    font-size: 14px;
    line-height: 17px;
  }

  .block__table {
    padding: 10px;
  }

  .block__welcome {
    display: none;
  }

  .block__caption {
    font-size: 18px;
    line-height: 21px;
    margin: 0px 0px 7px 0px;
  }

  .block__image {
    width: 72px;
  }

  .block__bonus {
    width: 284px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .block__list {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .block__pay--inner {
    width: 100%;
    margin: 0;
  }

  .block__buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -20px;
  }

  .block__item {
    width: 44%;
    margin: 0 0 15px 0;
    padding-left: 25px;
  }

  .block__item:before {
    left: 0;
  }

  .block__item--1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .block__item--2 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .block__item--3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .block__item--4 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .block__text {
    font-size: 12px;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
    width: auto;
  }

  .rating__nmbr {
    font-size: 14px;
    line-height: 17px;
  }

  .rating__star {
    font-size: 17px;
  }

  .rating__star:not(:first-child) {
    display: none;
  }

  .button {
    margin: 0;
    width: 189px;
    height: 44px;
  }

  .js-more-info__wrapper {
    display: block;
    margin-top: 15px;
  }

  .js-more-info__wrapper:before {
    left: 10px;
    width: 144px;
  }

  .js-more-info__wrapper:after {
    right: 10px;
    width: 144px;
  }

  .more-info__text {
    font-size: 12px;
    line-height: 167%;
  }

  .more-info__item {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 25px;
  }

  .more-info__item--like:before {
    left: 0;
  }

  .more-info__item--dis:before {
    left: 0;
  }

  .more-info__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .more-info__column--1 {
    width: 100%;
    margin-bottom: 15px;
  }

  .more-info__column--2,
  .more-info__column--3 {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
  }

  .pay-icon:nth-child(7),
  .pay-icon:nth-child(8) {
    display: none;
  }

  tr {
    display: block;
  }

  td {
    display: inline-block;
  }
}

@media (max-width: 360px) {
  svg {
    max-width: 18.69px;
    max-height: 14.1px;
  }

  .article:first-child {
    margin-top: 21px;
  }

  .block--violet:before {
    width: 141px;
    height: 32px;
    -webkit-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
            transform: translateX(-35%);
    font-size: 10px;
    line-height: 12px;
  }

  .block--orange:before {
    width: 141px;
    height: 32px;
    -webkit-transform: translateX(-35%);
        -ms-transform: translateX(-35%);
            transform: translateX(-35%);
    font-size: 10px;
    line-height: 12px;
  }

  .block__table {
    padding: 9px;
  }

  .block__image {
    height: 84px;
  }

  .block__image--d {
    display: none;
  }

  .block__image--m {
    display: block;
  }

  .block__bonus {
    width: 198px;
    margin-left: 5px;
  }

  .block__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .block__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block__item {
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    width: auto;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }

  .button--green {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .button--gray {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .js-more-info__wrapper {
    margin-top: 0;
  }

  .js-more-info__wrapper:before {
    width: 91px;
  }

  .js-more-info__wrapper:after {
    width: 91px;
  }

  .more-info {
    padding: 10px;
  }

  .more-info__text {
    font-size: 10px;
    line-height: 15px;
  }

  .more-info__column--1 {
    margin-bottom: 10px;
  }

  .pay-icon {
    width: 38.25px;
    height: 24px;
  }
}
@supports (-webkit-appearance:none){
.select__value:before{background:url("../img/icons/select.svg") center/100% no-repeat}
.checkbox__input:checked + .checkbox__text:before{background:#fff url("../img/icons/check.svg") center no-repeat}
.rating__line{background:url("../img/icons/bg_rating.svg") 0 0 no-repeat}
.rating__activeline{background:url("../img/icons/bg_rating_active.svg") 0 0 no-repeat}
#map{background:url("../img/icons/loading.gif") center/50px no-repeat}
.popup__close{background:url("../img/icons/close.svg") 0 0 no-repeat}
.block--violet:before{background:url(../img/bg1.webp) center/contain no-repeat}
.block--orange:before{background:url(../img/bg2.webp) center/contain no-repeat}
.infoblock__column--r{background:url(../img/small-bg.webp) no-repeat, -o-linear-gradient(301.64deg, #313446 19.06%, #070b1f 97.93%), #f7f8fd}
.infoblock__column--r{background:url(../img/small-bg.webp) no-repeat, linear-gradient(148.36deg, #313446 19.06%, #070b1f 97.93%), #f7f8fd}
}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1320px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
